{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": 4,
    "string-quotes": "single",
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "unit-no-unknown": true,
    "color-no-invalid-hex": true,
    "property-no-unknown": true,
    "declaration-block-no-duplicate-properties": true,
    "rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "first-nested"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "after-same-name",
          "blockless-after-blockless",
          "blockless-after-same-name-blockless"
        ],
        "ignore": [
          "after-comment",
          "first-nested",
          "inside-block"
        ],
        "ignoreAtRules": [
          "mixin"
        ]
      }
    ],
    "order/order": [
      [
        "custom-properties",
        "dollar-variables",
        "declarations",
        "rules"
      ],
      {
        "unspecified": "ignore"
      }
    ],
    "order/properties-order": [
      {
        "groupName": "GENERATED CONTENT",
        "emptyLineBefore": "never",
        "properties": [
          "content"
        ]
      },
      {
        "groupName": "POSITION",
        "emptyLineBefore": "never",
        "properties": [
          "position",
          "z-index",
          "inset",
          "top",
          "right",
          "bottom",
          "left",
          "transform",
          "transform-origin"
        ]
      },
      {
        "groupName": "DISPLAY AND VISIBILITY",
        "emptyLineBefore": "never",
        "properties": [
          "display",
          "flex",
          "grid-template-columns",
          "grid-template-rows",
          "grid-template-areas",
          "grid-area",
          "justify-content",
          "align-items",
          "align-self",
          "gap",
          "column-gap",
          "row-gap",
          "visibility",
          "opacity",
          "overflow",
          "overflow-x",
          "overflow-y"
        ]
      },
      {
        "groupName": "BOX MODEL",
        "emptyLineBefore": "never",
        "properties": [
          "max-width",
          "max-height",
          "min-width",
          "min-height",
          "width",
          "height",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "box-sizing",
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-radius",
          "outline",
          "box-shadow",
          "list-style-type"
        ]
      },
      {
        "groupName": "BACKGROUND",
        "emptyLineBefore": "never",
        "properties": [
          "background",
          "background-image",
          "background-position",
          "background-repeat",
          "background-size",
          "background-color",
          "backdrop-filter",
          "filter"
        ]
      },
      {
        "groupName": "TYPOGRAPHY",
        "emptyLineBefore": "never",
        "properties": [
          "font",
          "font-family",
          "font-size",
          "line-height",
          "font-weight",
          "font-style",
          "letter-spacing",
          "text-transform",
          "text-decoration",
          "text-align",
          "color",
          "-webkit-text-fill-color",
          "caret-color"
        ]
      },
      {
        "groupName": "OTHER STYLES",
        "emptyLineBefore": "never",
        "properties": [
          "scroll-behavior",
          "user-select",
          "pointer-events",
          "cursor",
          "animation",
          "transition"
        ]
      }
    ]
  }
}