// COLORS
:root {
}

:root[data-theme='light'] {
    --main-bg: #212429;
    --main-font: #fff;
}

:root[data-theme='dark'] {
    --main-bg: #212429;
    --main-font: #fff;
}

// theme
$color-bg: #000;
$color-font: #fff;

// Font
$font-primary: Sans-serif;
$font-secondary: Sans-serif;
